<!-- Extend base template -->
{% extends 'base.html' %}

<!-- Block with meta informations -->
{% block META %}
	{{ super() }}
	<!-- ### -->
{% endblock META %}

<!-- Block with links of styles -->
{% block STYLES %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('base.assets', filename='styles/signin.css') }}">
	{{ super() }}
{% endblock STYLES %}

<!-- Block with links of scripts -->
{% block SCRIPTS %}
	<script type="text/JavaScript" src="{{ url_for('base.assets', filename='scripts/signin.js') }}" defer></script>
	{{ super() }}
{% endblock SCRIPTS %}

<!-- Block with head contents -->
{% block HEAD_CONTENT %}
	<h1>Authorization</h1>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class=flashes>
		{% for category, message in messages %}
		<li class="{{ category }}">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
{% endblock HEAD_CONTENT %}

<!-- Block with body contents -->
{% block BODY_CONTENT %}
	{% if type == 'photo' %}
	<form class="body-form form" name="singin" action="{{ url_for('base.auth.post_signin') }}" method="post" enctype="multipart/form-data" autocomplete="off">
		<div class="form-block block">
			<label class="form-block_label" for="photo">Your photos:</label>
			<input class="form-block_input" type="file" name="photo" required accept=".png, .jpg, .jpeg">
		</div>
		<div class="form-block block">
			<a class="form-block_link" href="{{ url_for('base.auth.get_auth') }}">Back</a>
			<button class="form-block_button">Submit</button>
		</div>
	</form>
	{% elif type == 'video' %}
	<div class="form-block block">
		<a class="form-block_link" href="{{ url_for('base.auth.get_auth') }}">Back</a>
		<button id="button" type="button" play="false">Start stream</button>
		<canvas id="canvas"></canvas>
	</div>
	{% endif %}
{% endblock BODY_CONTENT %}

<!-- Block with foot contents -->
{% block FOOT_CONTENT %}
	<!-- FOOT-CONTENT -->
{% endblock FOOT_CONTENT %}
